/* TODO: Add sitewide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-snap::-webkit-scrollbar {
    display: none;
}

.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    overscroll-behavior: none;
}
